[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nest-microservicios-EmersonRoncancio/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nest-microservicios-EmersonRoncancio/products-ms.git
[submodule "order-ms"]
	path = order-ms
	url = https://github.com/nest-microservicios-EmersonRoncancio/order-ms.git
